<html>
    <head>
        {/* <!-- Add your head content here --> */}
    </head>
    <body>
        <header>
            <img src="{headerPath}" />
        </header>
        <div class='main-wrapper'>
            <div class='invoice-general'>
                <div id='company-name'>TRANSPARENCY LANGUAGE INC</div>
                <div class='invoice-index'><p></p></div>
            </div>
            <div class='invoice-to'>QUOTE TO: {10} </div>
            <div class='payment-details'>  
                <div class='customer-details'>
                    <div><p>Phone: {10}</p><p>Email: {10}</p><p>Address: {10}</p></div>
                </div>
                <div class='payment-method'>
                    <h2>Payment Method</h2>
                    <div class='payment-index'><p>Quote No: {10}</p><p>Issue Date: {10}</p><p>Branch Name: {10}</p><p>Billing Reference: {10}</p></div>
                </div>
            </div>
            <div class='payment-instructions'>
                <p>
                    Thank you for expressing interest in our written translation services. The quoted price encompasses translation, proofreading, formatting
                    (as specified), and project management costs. If the terms and project parameters outlined below align with your requirements, kindly
                    furnish comprehensive billing details and affix your signature to the authorization below, enabling us to initiate the commencement of the
                    project. Should you have any queries, please do not hesitate to contact me at info@transparencylanguage.com.
                </p>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>TRANSLATION <br/> SERVICE TYPE</th>
                        <th>SOURCE  <br/> LANGUAGE</th>
                        <th>TARGET  <br/> LANGUAGE</th>
                        <th>COST</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{10}</td>
                        <td>{11}</td>
                        <td>{12}</td>
                        <td>12</td>
                    </tr>
                    {/* <!-- Add more rows as needed --> */}
                </tbody>
            </table>
            <div class='terms-rush'>
                <div class='term-condtions'>TERMS AND CONDTIONS</div>
                <div class='rush-total'>Rush Fee  : {10} </div>
            </div> 
            <div class='sub-total-msg'>
                <div class='term-condtions'><p>Please send payment within 30 days of<br/> receiving this invoice</p></div>
                <div class='rush-total'>Subtotal  : {10} </div>
            </div>  
            <div class='total-thank terms-rush'>
                <div class='term-condtions'>THANK YOU FOR YOUR BUSINESS</div>
                <div class='all-total'>Total : {10} </div>
            </div>
            <div class='payment-instructions'>
                <p>
                    Customer Notice: This quotation is valid for a period of 30 days. The final price and delivery schedule are contingent upon project
                    parameters, market conditions, and the workload of our office at the time of confirmation and are subject to change. Upon receipt of your
                    signature, we will initiate the commencement of your project. Any subsequent changes, additions, or modifications to the project scope
                    submitted after receipt will be invoiced separately.
                    Transparency encourages a professional review and input on transitions to ensure accuracy and customer involvement in the final product.
                    Kindly notify us prior to the commencement of the translation if you wish to provide input so that we can schedule the job and allocate
                    translators accordingly. Customer-required stylistic or cosmetic changes (e.g., vocabulary preferences or modifications, synonyms, dialect
                    differences) may result in additional charges.Obvious errors and omissions made by Transparency (e.g., misspellings, grammatical errors, missing text) are exempt from this provision
                    and will be rectified at no additional charge. Unforeseen circumstances beyond Transparency's control (including, but not limited to:
                    change or hold requests from the requesting party, inclement weather, or acts of God) may lead to delayed delivery.
                    Please Note: Confirmation of billing information, format, and price (along with all necessary files) must be received by 3 pm on that day to
                    be considered a business day. Transparency cannot commence work until we have received all necessary information and a signed
                    customer authorization on file.
                </p>
            </div>
            <div class='signatures'>
                <div class='authorized'>
                    AUTHORIZED SIGNATURE
                    </div>
            </div>
        </div>
        <footer>
            {/* <!-- Add your footer content here --> */}
        </footer>
    </body>
</html>